.width-auto {
  width: auto; }

.title {
  color: #FFF8ED;
  /* 	margin-top: 2%; */
  /*     margin-right: 6%; */
  /* 	float:right; */
  width: auto;
  /* 		mobile */
  /* 		desktop large screen */ }
  @media only screen and (max-width: 768px) {
    .title {
      /* 	    height: auto; */
      margin-top: 5%;
      margin-bottom: 5%; } }
  @media only screen and (min-width: 768px) {
    .title {
      /* 	    position: absolute; */
      /* 	    right: 0px; */
      /* 	    z-index: 1; */
      /*     	margin-right: 3.5%; */ } }
  .title h1 {
    float: right;
    font-weight: 300;
    /*     right: 0px; */
    margin-top: 0px;
    margin: 0; }
  .title .title-content {
    float: right;
    text-align: right;
    /* 		margin-right: 30px; */
    font-size: 1.8em;
    line-height: 0.7em;
    font-weight: 200;
    color: #FFF8ED;
    padding-top: 0.3em; }
    .title .title-content .title-content-header {
      font-weight: 400; }
      @media only screen and (max-width: 768px) {
        .title .title-content .title-content-header + p {
          line-height: 1.2em;
          margin-top: -2%; } }

@media only screen and (min-width: 768px) {
  .padding-right-4 {
    padding-right: 5%; } }

#header {
  background-color: #CEC1AB;
  height: 15%; }
  @media only screen and (min-width: 768px) {
    #header {
      background-image: -webkit-linear-gradient(88deg, #FFF8ED 29%, #CEC1AB 30%);
      display: flex;
      align-items: center; } }
  #header .title {
    top: 3%; }
  #header .row {
    width: 100%; }

/* #content{ */
/* 	.row{ */
/* 	    width: 100%; */
/* 	} */
/* } */
#footer {
  background-color: #CEC1AB;
  height: 15%; }
  @media only screen and (min-width: 768px) {
    #footer {
      background-image: -webkit-linear-gradient(92deg, #CEC1AB 71%, #FFF8ED 72%); } }
  #footer .title {
    bottom: 3%; }
  #footer .row {
    width: 100%; }

.blue-board {
  background-color: #434A5B;
  /*     width: 27%; */
  /*     margin-left: 4.7%; */
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .blue-board {
      /*     	height: 73%; */
      /*    	    margin-top: 2%; */ } }
  .blue-board .board-content {
    height: 100%;
    max-width: 100%;
    display: inline-block;
    overflow: auto; }
  .blue-board .header {
    color: #FFF8ED;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5%; }
  .blue-board hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .blue-board ul {
    color: #F7BFE8;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 4px;
    /* 		line-height: 30px; */
    vertical-align: middle;
    padding: 0px;
    margin: 0px; }
    .blue-board ul li {
      margin-bottom: 1.0em; }

.partition {
  /* 		desktop large screen */ }
  .partition p {
    position: relative;
    margin: 1em 0px 3em 0px;
    left: 0px;
    text-align: justify;
    font-weight: 300;
    font-size: 1em; }
  @media only screen and (min-width: 768px) {
    .partition {
      height: 100%;
      margin-top: -1%; } }

#board-1 {
  height: 73%; }
  #board-1 #client-sever {
    color: #FFF8ED;
    /*     	    padding-left: 8%; */
    /* 			padding-right: 8%; */
    text-align-last: justify;
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: normal;
    padding-right: 10px;
    padding-top: 0.5em; }
  #board-1 #client-server-content {
    color: #F7BFE8;
    text-transform: lowercase;
    text-align: initial; }
    #board-1 #client-server-content #server-content {
      float: right;
      text-align: right; }

@media only screen and (min-width: 768px) {
  #board-2 {
    height: 66%;
    top: 7%;
    /* 		margin-top: 10.5%; */
    position: relative; }
    #board-2 + p {
      top: 7%; } }

#board-2 #board-2-content {
  text-align: center;
  display: block; }

@media only screen and (min-width: 768px) {
  #board-3 {
    height: 60%;
    top: 13%;
    position: relative; }
    #board-3 + p {
      top: 13%; } }

#board-3 #img-container {
  /* 	    display: inline-block; */
  height: auto;
  max-width: 100%;
  /* 		background-image: url("../imgs/iot.png");	 */ }
  #board-3 #img-container img {
    max-width: 100%; }

#skills {
  /* 		mobile */
  /* 		desktop large screen */ }
  @media only screen and (min-width: 480px) {
    #skills {
      height: auto; } }
  @media only screen and (min-width: 768px) {
    #skills {
      height: 70%; }
      #skills .col-md-offset-1 {
        margin-left: 4.7%;
        padding: 0; }
      #skills .col-md-4 {
        width: 27%; } }
  #skills .title h1 {
    color: #CEC1AB;
    /* 		    transform: translateY(50%); */ }
  @media only screen and (min-width: 768px) {
    #skills .title {
      margin-top: 3%;
      margin-bottom: -3%; } }
  #skills .row {
    width: 100%; }
