$background-color: #FFF8ED;
$header-color: #CEC1AB;
$footer-color: #CEC1AB;
$blue-board: #434A5B;
$client-server-content:#F7BFE8;

.title{
	color: $background-color;
/* 	margin-top: 2%; */
/*     margin-right: 6%; */
	float:right;
	width: auto;
    position: absolute;
    right: 0px;
    z-index: 1;
    margin-right: 5%;
    
	h1{
		float: right;
		font-weight: 300;
		/*     right: 0px; */
		margin-top: 0px;
	}
	.title-content{
		float: right;
		text-align: right;
		margin-right: 30px;
		font-size: 1.8em;
    	line-height: 0.7em;
		font-weight: 200;
		color: $background-color;
	    padding-top: 0.3em;
	
		.title-content-header{
			font-weight: 400;
		}
 
	}
}




//header
#header {
	background-color: $header-color;
	background-image: -webkit-linear-gradient(88deg, $background-color 29%, $header-color 30%);
    height: 15%;
	.title{
		 top:3%;
	}
}

//footer
#footer{
	background-color: $header-color;
	background-image: -webkit-linear-gradient(92deg, $header-color 71%,  $background-color 72%);
	height: 15%;
	.title{
		 bottom:3%;
	}
}

//boards
.blue-board{
	background-color: $blue-board;
    height: 73%;
    width: 27%;
    margin-left: 4.7%;
    margin-top: 2%;
    text-align: center;
    
    .board-content{
    	height: 100%;
   	    max-width: 100%;
   	    display: inline-block;
   	    overflow: auto;
    }
    
    .header{
    	color:$background-color;
    	font-weight: 400;
    	text-align: center;
        letter-spacing: 10px;
	    display: inline-block;
    	margin: 0 auto;
    	margin-top: 5%;
    }
    
	hr{
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	}
	
	ul{
		color:$client-server-content;
		 list-style-type: none;
	    display: inline-block;
	    vertical-align: top;
	    font-size: 1.7rem;
		font-weight: 400;
		letter-spacing: 4px;
/* 		line-height: 30px; */
		vertical-align:middle;
		padding:0px;
		margin:0px;
		
						
		li{
	        margin-bottom: 1.0em;
		}
	}
	
	p{
		position: absolute;
        margin-top: 1em;
	    left: 0px;
	    text-align: justify;
	    font-weight: 300;
	    font-size: 1em;
	}

}

#board-1{
   	#client-sever {
   		color:$background-color;
/*     	    padding-left: 8%; */
/* 			padding-right: 8%; */
		text-align-last: justify;
	    font-size: 1.7rem;
		font-weight:100;
	    letter-spacing: normal;
        padding-right: 10px;
           padding-top: 0.5em;

	}
	
	#client-server-content{
		color:$client-server-content;
		text-transform: lowercase;
	    text-align: initial;
		
		#client-content{

		}
		
		#server-content{
		
			float: right;
		    text-align: right;
		
		}
	}
}

#board-2{
    max-height: 66%;
    top: 7%;
   	
   	
   	#board-2-content{
  		    text-align: center;
        display: block;
   	}

}
	
#board-3{
   	max-height: 60%;
   	top: 13%;
   	
   	#img-container{
/* 	    display: inline-block; */
		height: auto;
    	max-width: 100%;
		background-image: url("resources/imgs/iot.png");	
		img{
			max-width: 100%;
		}

   	}
}


#skills{
	height:70%;
	
	.title{

		h1{
			color: $header-color;
		    transform: translateY(50%);
			
		}
	}
}

