.title {
  color: #FFF8ED;
  /* 	margin-top: 2%; */
  /*     margin-right: 6%; */
  float: right;
  width: auto;
  position: absolute;
  right: 0px;
  z-index: 1;
  margin-right: 5%; }
  .title h1 {
    float: right;
    font-weight: 300;
    /*     right: 0px; */
    margin-top: 0px; }
  .title .title-content {
    float: right;
    text-align: right;
    margin-right: 30px;
    font-size: 1.8em;
    line-height: 0.7em;
    font-weight: 200;
    color: #FFF8ED;
    padding-top: 0.3em; }
    .title .title-content .title-content-header {
      font-weight: 400; }

#header {
  background-color: #CEC1AB;
  background-image: -webkit-linear-gradient(88deg, #FFF8ED 29%, #CEC1AB 30%);
  height: 15%; }
  #header .title {
    transform: translateY(40%); }

#footer {
  background-color: #CEC1AB;
  background-image: -webkit-linear-gradient(92deg, #CEC1AB 71%, #FFF8ED 72%);
  height: 15%; }
  #footer .title {
    transform: translateY(80%); }

.blue-board {
  background-color: #434A5B;
  height: 73%;
  width: 27%;
  margin-left: 4.7%;
  margin-top: 2%;
  text-align: center; }
  .blue-board .board-content {
    height: 100%;
    display: inline-block; }
  .blue-board .header {
    color: #FFF8ED;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5%; }
  .blue-board hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .blue-board ul {
    color: #F7BFE8;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 30px;
    padding: 0px;
    margin: 0px; }
    .blue-board ul li {
      margin-bottom: 1.0em; }
  .blue-board p {
    position: absolute;
    margin-top: 1em;
    left: 0px;
    text-align: justify;
    font-weight: 300;
    font-size: 1em; }

#board-1 #client-sever {
  color: #FFF8ED;
  /*     	    padding-left: 8%; */
  /* 			padding-right: 8%; */
  text-align-last: justify;
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: normal;
  padding-right: 10px;
  padding-top: 0.5em; }

#board-1 #client-server-content {
  color: #F7BFE8;
  text-transform: lowercase;
  text-align: initial; }
  #board-1 #client-server-content #server-content {
    float: right;
    text-align: right; }

#board-2 {
  max-height: 65%;
  top: 8%; }
  #board-2 #board-2-content {
    text-align: center; }

#board-3 {
  max-height: 60%;
  top: 13%; }
  #board-3 #img-container {
    display: inline-block;
    height: 100%; }
    #board-3 #img-container img {
      width: auto;
      height: 57%; }

#skills {
  height: 70%; }
  #skills .title h1 {
    color: #CEC1AB;
    transform: translateY(50%); }
