@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500';
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }
  @media screen and (min-device-width: 1559px) {
    html, body {
      font-size: 12px; } }
  @media screen and (min-device-width: 1441px) {
    html, body {
      font-size: 11.5px; } }
  @media screen and (max-device-width: 1440px) {
    html, body {
      font-size: 9px; } }

.row {
  height: inherit; }

.container-fluid {
  background-color: #FFF8ED; }
  .container-fluid h1 {
    font-weight: 300;
    font-size: 3.5em; }
  .container-fluid h2 {
    font-weight: 100;
    font-size: 2.0em; }
  .container-fluid h3 {
    font-size: 1.5em;
    font-weight: 100; }
  .container-fluid #left-nav-bar {
    background-color: #818479;
    /* 		mobile */
    /* 		desktop large screen */ }
    @media only screen and (min-width: 480px) {
      .container-fluid #left-nav-bar {
        height: 15%; } }
    @media only screen and (min-width: 992px) {
      .container-fluid #left-nav-bar {
        height: inherit; } }
    .container-fluid #left-nav-bar .name {
      display: block;
      /* 			text-align-last:justify; */
      text-align-last: center;
      /* 			margin-bottom: 15%; */
      /* 		large screens */ }
      @media only screen and (min-width: 992px) {
        .container-fluid #left-nav-bar .name {
          margin-top: 70%;
          margin-bottom: 15%; } }
    .container-fluid #left-nav-bar .row#nav-bar-content {
      /* 		mobile */
      /* 		desktop large screen */
      color: #ffffff;
      font-weight: 300 !important;
      /* 			    display: inline-block; */
      /* 			    position: absolute; */
      /* 			    top: 30%; */
      text-align: center; }
      @media only screen and (max-width: 992px) {
        .container-fluid #left-nav-bar .row#nav-bar-content {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%; } }
      @media only screen and (min-width: 992px) {
        .container-fluid #left-nav-bar .row#nav-bar-content {
          /* 				height: inherit; */ } }
  .container-fluid #content {
    /* 		mobile */
    /* 		desktop large screen */ }
    @media only screen and (min-width: 480px) {
      .container-fluid #content {
        height: auto; } }
    @media only screen and (min-width: 992px) {
      .container-fluid #content {
        height: inherit; } }

#nav-bar-buttons {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  /* 	width: 65%; */
  /*     margin: auto; */
  /*     margin-top: 5%; */ }
  #nav-bar-buttons .btn {
    color: #ffffff;
    cursor: pointer;
    /* 	  display: block; */
    font-size: 1em;
    font-weight: 400;
    line-height: 45px;
    /* 	  margin: 0 auto 2em; */
    max-width: 160px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    /* 	  width: 100%;  */
    /* 		large screens */
    /* 	  @media(min-width: 400px) { */
    /* 	    display: inline-block; */
    /* 	    margin-right: 2.5em; */
    /* 	    &:nth-of-type(even) { */
    /* 	      margin-right: 0; */
    /* 	    } */
    /* 	  } */
    /* 	  @media(min-width: 600px) { */
    /* 	    &:nth-of-type(even) { */
    /* 	      margin-right: 2.5em; */
    /* 	    } */
    /* 	    &:nth-of-type(5) { */
    /* 	      margin-right: 0; */
    /* 	    } */
    /* 	  } */ }
    @media only screen and (min-width: 992px) {
      #nav-bar-buttons .btn {
        margin-bottom: 10%; } }
    #nav-bar-buttons .btn:hover {
      text-decoration: none; }
  #nav-bar-buttons .btn-1 {
    background: #7d8075;
    font-weight: 100; }
    #nav-bar-buttons .btn-1 svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    #nav-bar-buttons .btn-1 rect {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 422, 0; }
  #nav-bar-buttons .nav-button-text {
    font-size: 1.5em; }
  #nav-bar-buttons .btn-1:hover {
    background: rgba(225, 51, 45, 0); }
    #nav-bar-buttons .btn-1:hover .nav-button-text {
      font-weight: 400;
      letter-spacing: 1px; }
